%li.list-group-item
  %span.glyphicon.glyphicon-edit
  %small.text-muted= a.created_at.strftime('%H:%M:%S %-d %B %Y')
  %br/
  %strong= activity.owner ? activity.owner.email : 'Guest'
  - if a.trackable
    edited the guest #{link_to a.trackable.firstname, guest_path(a.trackable)}.
  - else
    edited the guest that is currently deleted.
