%h4.text-center
  Harlem Report has restricted access.
  %hr/
.row
  .panel.medium-6.medium-centered.column
    %h5.subtitle.text-center
      %br/
      Use your phone to <br><br>
      = link_to 'Login here', new_user_session_path, class: 'button'
