//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//
//= require selectize
//= require selectize.default
//= require_self

// Core
@import "variables";
@import "foundation";
@import "foundation-icons";
@import 'foundation-datetimepicker';
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Plugins
@import 'nprogress';
@import 'DateTimePicker';
@import 'bootstrap';



//
// Minor Tweaks
//

.top-bar {
  margin-bottom: 20px;
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}
